
@using mm.Models
@model EditTeamPerson

<div>
    <h1>First Time Here</h1>
    <p>Please select your team and fill in the blanks, click Ok and you'll be part of something great!</p>

    @using (@Html.BeginForm("NewUser", "Home", FormMethod.Post))
    {

        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <div class="alert alert-danger">
                <strong>Error</strong> @Model.Message
            </div>
        }

        <div class="form-group">
            <label for="TeamId">Team</label>
            <div>
                <select class="form-control" id="TeamId" name="TeamId">
                    @foreach (var t in Model.Teams)
                {
                        <option value="@t.Id">@t.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <div>
                <input type="text" class="form-control" id="Email" name="Email" placeholder="bob@danskebank.dk">
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-default">Join your teams Breakfast Club</button>
            </div>
        </div>
    }
</div>